      body {
        background-color: #4B304A;
      } .page {
        background-color: #4B304A;
      } #login, #loggedin, #oauth {
        display: none;
      } #user-image {
        width: 20;
        border-radius: 10;
      } #add-party b {
        color: #FDFDFD;
        text-align: center;
      } #add-party p {
        margin-top: 5px;
        color: #FDFDFD;
        text-align: center;
      } #add-party input {
        text-align: center;
        color: black;
      } #add-party, #end-party {
        border-radius: 10px;
        text-align: center;
        margin-bottom: 20px;
      } #end-party h1 {
        color: #FDFDFD;
        font-weight: 100;
        margin-top: 5px;
        font-size: 50px;
        text-align: left;
      } #end-party #explanation {
        color: #FDFDFD;
        margin-bottom: 30px;
        font-size: 17px;
        font-weight: 200;  
        margin-top: 15px;
        text-align: right;
      } #end-party #close-party-button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        width: 140px;
        border-radius: 15px;
        background-color: #FDFDFD;
      } #end-party iframe {
        text-align: center;
      } #user-profile {
        color: #FDFDFD;
      } #user-profile h1 {
        text-align: center;
        font-weight: 200;
        font-size: 40px;
      } button#submit {
        margin-top: 7px;
        padding: 4px;
      }.text-overflow {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 500px;
      } .jumbotron {
        left:0px;
        width:100%;
        background-image:url('http://imgur.com/30UUWA3.jpg');
        background-attachment: fixed; 
        height: 600px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-bottom: 0px;
        margin-bottom: 0px;
      } .jumbotron .container {
        top:20%;
        margin-top: 25px;
        left:2%;
      } .jumbotron h1 {
        color: #fff;
        font-size: 48px;
        font-family: 'Shift', sans-serif;
        font-weight: bold;
      } .jumbotron p {
        font-size: 20px;
        color: #fff;
      } #header {
        position: fixed;
      } .nav {
        z-index: 1;
        background-color: #4B304A;
        padding-top: 1.2%;
        padding-bottom: 1%;
        padding-left:0%;
        left:0px;
        width: 100%;
        vertical-align: center;
        border-bottom: thin solid #0A0A0A;
      } .nav .pull-left {
        padding-left: 0px;
      } .nav a {
        color: #FDFDFD;
        font-weight: bold;
      } .nav li {
        color: #FDFDFD;
        font-size: 11px;
        padding: 14px 10px;
        text-transform: uppercase;
        display: inline;
        vertical-align: center;
      } .nav #image-holder {
        display: inline;
        vertical-align: center;
      } .bs-docs-featurette {
        color: #FDFDFD;
        text-align: center;
      } .side-title {
        font-size: 50px;
        font-weight: 100;
      } .playlist-input button {
        border-radius: 15px;
        background-color: #FDFDFD;
        width: 300px;
        color: black;
      } .playlist-input input {
        border-radius: 2px;
        margin-left: 7px;
        background-color: #FDFDFD;
        color: black;
      } .playlist-input {
        margin-top: 35px;
        font-weight: 200;
        min-width: 300px;
      } #user-profile {
        font-weight: 200px;
      } .side-title .container {
        margin-right: auto;
        margin-left: auto;
        width: 220px;
        text-align: left;
      }

@media (min-width: 300px) {
    #end-party #explanation {
        margin-top: 25px;
        text-align: center;
    } .side-title .container {
        text-align: center;
        width: auto;
    } .side-title {
        font-size: 0px;
    } #end-party h1 {
        text-align: center;
        font-size: 40px;
    } .jumbotron {
        height: 320px;
        padding-left: 0px;
    } .jumbotron .container {
        top:18%;
        margin-top: 12px;
        text-align: left;
        left:0%;
    } .jumbotron h1 {
        font-size: 32px;
    } .jumbotron p {
        font-size: 16px;
    } .nav {
        padding-top: 2.5%;
    }
}

@media (min-width: 500px) {
    #end-party #explanation {
        text-align: center;
        margin-top: 15px;
    } .side-title .container {
        text-align: center;
        width: 220px;
    } .side-title {
        font-size: 50px;
    } #end-party h1 {
        text-align: center;
        font-size: 50px;
    } .jumbotron {
        height: 600px;
        padding-left: 30px;
    } .jumbotron .container {
        top:20%;
        margin-top: 25px;
        text-align: left;
        left:2%;
    } .jumbotron h1 {
        font-size: 48px;
    } .jumbotron p {
        font-size: 20px;
    } .nav {
        padding-top: 1.3%;
    }
}

@media (min-width: 775px) {
    #end-party #explanation {
        text-align: right;
        margin-top: 15px;
    } .side-title .container {
        text-align: left;
        width: 220px;
    } .side-title {
        font-size: 50px;
    } #end-party h1 {
        text-align: left;
        font-size: 50px;
    } .jumbotron {
        height: 600px;
        padding-left: 30px;
    } .jumbotron .container {
        top:20%;
        margin-top: 25px;
        text-align: left;
        left:2%;
    } .jumbotron h1 {
        font-size: 48px;
    } .jumbotron p {
        font-size: 20px;
    } .nav {
        padding-top: 1.3%;
    }
}